ol, ul {
  margin-left: 15%;
}

p {
  text-align: justify;
  margin-bottom: 1em;
  padding: 2em;
}

ul>li {
  text-align: left;
}

span.image.fit {
    border: 1px solid #EAEAEA;
    display: block;
    margin: 8px;
    text-align: center;
}

span.image.fit img {
    border: 1px solid #FFFFFF;
    margin: 0;
    background: #F6F6F6;
    padding: 8px;
    -moz-box-shadow: 2px 2px 5px #CCCCCC;
    -webkit-box-shadow: 2px 2px 5px #CCCCCC;
}

.wrapper {
  padding-top: 3em;
}
