<?php
$host = "HOST";
$port = "PORT";
$dbname = "DBNAME";
$user = "USER";
$password = "PASSWORD";
$conn_string = "host=$host port=$port dbname=$dbname user=$user password=$password";
$conn = pg_connect($conn_string)
    or die ('Impossible de se connecter.');
?>
